<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<h1>[[${year}]]年[[${month}]]月[[${day}]]日</h1>
	<table border="1" align="left">

		<tr>
			<td>ID</td>
			<td>名前</td>
			<td>起床時間</td>
			<td>就寝時間</td>
			<td>朝食</td>
			<td>接種カロリー</td>
			<td>昼食</td>
			<td>接種カロリー</td>
			<td>夕食</td>
			<td>接種カロリー</td>
		</tr>
		<tr th:each="find:${finds}">
			<td>[[${find.playerHealthId}]]
			</td>
			<td th:each="player : ${playerList}" th:if="${player.id == find.playerHealthId}">[[${player.name}]]
			</td>
			<td>[[${find.wakeupTime}]]
			</td>
			<td>[[${find.bedtimeTime}]]
			</td>
			
			<th:block th:each="cook:${cookList}">
			<td th:if="${cook.id == find.breakfastId}">[[${cook.dishName}]]
			</td>
			<td th:if="${cook.id == find.breakfastId}">[[${cook.dishCalories}]]
			</td>
			<td th:if="${cook.id == find.lunchId}">[[${cook.dishName}]]
			</td>
			<td th:if="${cook.id == find.lunchId}">[[${cook.dishCalories}]]
			</td>
			<td th:if="${cook.id == find.dinnerId}">[[${cook.dishName}]]
			</td>
			<td th:if="${cook.id == find.dinnerId}">[[${cook.dishCalories}]]
			</td>
			
			

			</th:block>
		</tr>

	</table>
</body>

</html>