<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>選手健康管理</title>
</head>

<body>
	<h2>選手健康管理</h2>
<!--	<form action="/admin/health" method="post">-->
<!--		<table border="3">-->
<!--			<tr>-->
<!--				<th>ID</th>-->
<!--				<td><input type="number" name="playerHealthId"></td>-->
<!--				<td><input type="date" name="eatDate"></td>-->
<!--				<th>起床時間</th>-->
<!--				<td><input type="time" name="wakeupTime" value="08:00" min="00:00" max="12:00" step="1800"></td>-->
<!--				<th>就寝時間</th>-->
<!--				<td><input type="time" name="bedtimeTime" value="22:00" min="13:00" max="24:00" step="1800"></td>-->
<!--				<th>朝食</th>-->
<!--				<td><select name="breakfastId">-->
<!--						<option value="1">豚の生姜焼き</option>-->
<!--						<option value="2">ハンバーグ定食</option>-->
<!--						<option value="3">和風パスタ</option>-->
<!--						<option value="4">うな重</option>-->
<!--					</select></td>-->
<!--				<th>昼食</th>-->
<!--				<td><select name="lunchId">-->
<!--						<option value="1">豚の生姜焼き</option>-->
<!--						<option value="2">ハンバーグ定食</option>-->
<!--						<option value="3">和風パスタ</option>-->
<!--						<option value="4">うな重</option>-->
<!--					</select></td>-->
<!--				<th>夕食</th>-->
<!--				<td><select name="dinnerId">-->
<!--						<option value="1">豚の生姜焼き</option>-->
<!--						<option value="2">ハンバーグ定食</option>-->
<!--						<option value="3">和風パスタ</option>-->
<!--						<option value="4">うな重</option>-->
<!--					</select></td>-->
<!--		</table>-->
<!--		<input type="submit" value="登録">-->
<!--	</form>-->
	<span th:text="${error}" style="color: red"></span>
	<table border="1" align="left">
		<tr>
			<th>選手ID</th>
			<th>選手名</th>
			<th>身長</th>
			<th>体重</th>
			<th>年齢</th>
			<th>体脂肪率</th>
			<th>基礎代謝(オフの日)</th>
			<th>基礎代謝(練習の日)</th>
			<th>過去の健康データ</th>
		</tr>
		<tr th:each="p:${playerList}">
			<td th:text="${p.id}"></td>
			<td><a th:href="'/admin/health/'+${p.id}+'/edit'" th:text="${p.name}"></a></td>
			<td th:text="${p.height}"></td>
			<td th:text="${p.weight}"></td>
			<td th:text="${p.age}"></td>
			<td th:text="${p.bodyFatPer}+'%'"></td>
			<td th:text="1.75*(28.5*(${p.weight}-(${p.weight}*(${p.bodyFatPer}/100))))+'(kcal)'"></td>
			<td th:text="2.19*(28.5*(${p.weight}-(${p.weight}*(${p.bodyFatPer}/100))))+'(kcal)'"></td>
			<td><a th:href="'/admin/health/'+${p.id}+'/detail'" >閲覧</a></td>
		</tr>
		<br>
	</table>
	<h2>カレンダー</h2>
	<h1>
		<a th:href="|/admin/health?year=${lastYear}&month=${lastMonth}|">◀</a>
		[[${year}]]年[[${month}]]月
		<a th:href="|/admin/health?year=${nextYear}&month=${nextMonth}|">▶</a>
	</h1>

	<table border="2">
		<tr>
			<th style="color: red;">日</th>
			<th>月</th>
			<th>火</th>
			<th>水</th>
			<th>木</th>
			<th>金</th>
			<th style="color:blue;">土</th>
		</tr>



		<tr>
			<th:block th:if="${week} > 0">
				<td th:each="tmp : ${#numbers.sequence(0, week - 1)}"></td>
			</th:block>

			<td th:each="i : ${#numbers.sequence(1, 7 - week)}">
				<a th:href="|/admin/health/information?year=${year}&month=${month}&day=${i}|">[[${i}]]</a><br>
			</td>
		</tr>
		<th:block th:each="i, cell : ${#numbers.sequence(8 - week, max)}">
			<th:block th:if="${cell.index % 7} == 0">
				<tr>
			</th:block>
			<td>
				<a th:href="|/admin/health/information?year=${year}&month=${month}&day=${i}|">[[${i}]]</a><br>
			</td>
		</th:block>
	</table>
</body>

</html>