<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<table border="1">
		<tr>
			<th>選手ID</th>
			<th>選手名</th>
			<th>身長</th>
			<th>体重</th>
			<th>年齢</th>
			<th>体脂肪率</th>
			<th>体脂肪量</th>
			<th>徐脂肪体重</th>
			<th>基礎代謝(オフの日)</th>
			<th>基礎代謝(練習の日)</th>
		</tr>
		<tr th:each="p:${playerList}">
			<td th:text="${p.id}"></td>
			<td><a th:href="'/admin/health/'+${p.id}+'/edit'" th:text="${p.name}"></a></td>
			<td th:text="${p.height}"></td>
			<td th:text="${p.weight}"></td>
			<td th:text="${p.age}"></td>
			<td th:text="${p.bodyFatPer}+'%'"></td>
			<td th:text="${p.weight}*(${p.bodyFatPer}/100)+'(kg)'"></td>
			<td th:text="${p.weight}-(${p.weight}*(${p.bodyFatPer}/100))+'(kg)'"></td>
			<td th:text="1.75*(28.5*(${p.weight}-(${p.weight}*(${p.bodyFatPer}/100))))+'(kcal)'"></td>
			<td th:text="2.19*(28.5*(${p.weight}-(${p.weight}*(${p.bodyFatPer}/100))))+'(kcal)'"></td>
		</tr>
		<br>
	</table>
	<h2>カレンダー</h2>
	<h1>
		<a th:href="|/admin/health?year=${lastYear}&month=${lastMonth}|">◀</a>
		[[${year}]]年[[${month}]]月
		<a th:href="|/admin/health?year=${nextYear}&month=${nextMonth}|">▶</a>
	</h1>

	<table>
		<tr>
			<th style="color: red;">日</th>
			<th>月</th>
			<th>火</th>
			<th>水</th>
			<th>木</th>
			<th>金</th>
			<th style="color:blue;">土</th>
		</tr>



		<tr>
			<th:block th:if="${week} > 0">
				<td th:each="tmp : ${#numbers.sequence(0, week - 1)}"></td>
			</th:block>

			<td th:each="i : ${#numbers.sequence(1, 7 - week)}">
				<a th:href="|/admin/health/information?year=${year}&month=${month}&day=${i}|">[[${i}]]</a><br>
				<!--<th:block th:each="ymd : ${list}" th:if="${ymd} == |${year}-${month}-${i.toString().length() == 1 ? '0' + i : i}|">
				●
			</th:block>-->
			</td>
		</tr>
		<th:block th:each="i, cell : ${#numbers.sequence(8 - week, max)}">
			<th:block th:if="${cell.index % 7} == 0">
				<tr>
			</th:block>
			<td>
				<a th:href="|/admin/health/information?year=${year}&month=${month}&day=${i}|">[[${i}]]</a><br>
				<!--<th:block th:each="ymd : ${list}" th:if="${ymd} == |${year}-${month}-${i.toString().length() == 1 ? '0' + i : i}|">
				●
			</th:block>-->
			</td>
		</th:block>
	</table>
</body>

</html>