<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<h1>[[${year}]]年[[${month}]]月[[${day}]]日</h1>

	<form action="/admin/health" method="post">
		<table border="3">
			<tr>
				<th>ID</th>
				<td><input type="number" name="playerHealthId"></td>
				<td><input type="date" name="eatDate" th:value="${search}"></td>
				<th>起床時間</th>
				<td><input type="time" name="wakeupTime" value="08:00" min="00:00" max="12:00" step="1800"></td>
				<th>就寝時間</th>
				<td><input type="time" name="bedtimeTime" value="22:00" min="13:00" max="24:00" step="1800"></td>
				<th>朝食</th>
				<td><select name="breakfastId">
						<option value="1">豚の生姜焼き</option>
						<option value="2">ハンバーグ定食</option>
						<option value="3">和風パスタ</option>
						<option value="4">うな重</option>
					</select></td>
				<th>昼食</th>
				<td><select name="lunchId">
						<option value="1">豚の生姜焼き</option>
						<option value="2">ハンバーグ定食</option>
						<option value="3">和風パスタ</option>
						<option value="4">うな重</option>
					</select></td>
				<th>夕食</th>
				<td><select name="dinnerId">
						<option value="1">豚の生姜焼き</option>
						<option value="2">ハンバーグ定食</option>
						<option value="3">和風パスタ</option>
						<option value="4">うな重</option>
					</select></td>
		</table>
		<input type="submit" value="登録">
	</form>

	<table border="1" align="left">

		<tr>
			<td>ID</td>
			<td>名前</td>
			<td>起床時間</td>
			<td>就寝時間</td>
			<td>朝食</td>
			<td>摂取カロリー</td>
			<td>昼食</td>
			<td>摂取カロリー</td>
			<td>夕食</td>
			<td>摂取カロリー</td>
			<td>推奨カロリー</td>
			<td>合計</td>
			<th>削除</th>
		</tr>
		<tr th:each="find:${finds}">
			<td>[[${find.playerHealthId}]]
			</td>
			<td th:each="player : ${playerList}" th:if="${player.id == find.playerHealthId}">[[${player.name}]]
			</td>
			<td>[[${find.wakeupTime}]]
			</td>
			<td>[[${find.bedtimeTime}]]
			</td>

			<th:block>
				<td>[[${find.breakfastName}]]</td>
				<td>[[${find.breakfastCalory}]]</td>
				<td>[[${find.lunchName}]]</td>
				<td>[[${find.lunchCalory}]]</td>
				<td>[[${find.dinnerName}]]</td>
				<td>[[${find.dinnerCalory}]]</td>
				<td th:each="p : ${playerList}" th:if="${p.id == find.playerHealthId}">
					[[(1.75*(28.5*(${p.weight}-(${p.weight}*(${p.bodyFatPer}/100)))))
					-(${find.breakfastCalory}+${find.lunchCalory}+${find.dinnerCalory})]]
				</td>
				<td>
					[[${find.breakfastCalory}+${find.lunchCalory}+${find.dinnerCalory}]]
				</td>


				<td>
					<form th:action="'/admin/health/'+${find.playerHealthId}+'/delete'" method="post">
						<input type="submit" value="削除">
						<input type="hidden" name="eatDate" th:value="${find.eatDate}">
					</form>
				</td>
			</th:block>
		</tr>

	</table>

</body>

</html>