<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<table>
		<tr>
			<th>得点数</th>
			<td th:text="${playerPerformance.goals}"></td>
		</tr>
		<tr>
			<th>アシスト数</th>
			<td th:text="${playerPerformance.asists}"></td>
		</tr>
		<tr>
			<th>ファウル数</th>
			<td th:text="${playerPerformance.foul}"></td>
		</tr>
		<tr>
			<th>被ファウル数</th>
			<td th:text="${playerPerformance.fouled}"></td>
		</tr>
		<tr>
			<th>イエローカード数</th>
			<td th:text="${playerPerformance.yellowcard}"></td>
		</tr>
		<tr>
			<th>レッドカード数</th>
			<td th:text="${playerPerformance.redcard}"></td>
		</tr>
		<tr>
			<th>試合数</th>
			<td th:text="${playerPerformance.games}"></td>
		</tr>
		</tr>
	</table>
</body>

</html>