<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<table border="1">
		<tr>
			<th>選手ID</th>
			<th>背番号</th>
			<th>選手名</th>
			<th>身長</th>
			<th>体重</th>
			<th>年齢</th>
			<th>ポジション</th>
			<th>出身</th>
		</tr>
		<tr th:each="p:${playerList}">
			<td th:text="${p.id}"></td>
			<td th:text="${p.playerId}"></td>
			<td><a th:href="'/admin/performance/'+${p.id}" th:text="${p.name}"></a></td>
			<td th:text="${p.height}"></td>
			<td th:text="${p.weight}"></td>
			<td th:text="${p.age}"></td>
			<td th:text="${p.position}"></td>
			<td th:text="${p.birthplace}"></td>
		</tr>
	</table>
</body>

</html>